@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-size: 16px;
    height: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

:root { 
 --mainColor: rgb(1, 151, 246);
 --darkColor: rgb(6, 93, 152);
 --extraDarkColor: rgb(10, 34, 57);

 --lightColor: rgb(194, 231, 255);

 --grayColor: rgb(229, 229, 229);
 --darkGrayColor: rgb(180, 180, 180);
 --lightGrayColor: #f2f2f2;

 --redColor: rgb(239, 35, 60);
 --lightRedColor: rgb(255, 199, 206);
 --darkRedColor: rgb(190, 35, 60);

 --extraLargeFont: 1.75rem;
 --largeFont: 1.25rem;
 --mediumFont: 1.1rem;
 --normalFont: 1rem;
 --smallFont: 0.8rem;
}

* {
    font-family: Nunito Sans;
    font-size: var(--normalFont);
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.content-holder {
    padding: 30px;
    flex: 1;
    /* margin-top: 20px; */
    margin-left: 90px;
}

tr, td, th{
    border: none;
    border-collapse: collapse;
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}

/* Round the 4 outer corners of the table */
table tr:first-child th:first-child { border-top-left-radius: 8px; }
table tr:first-child th:last-child  { border-top-right-radius: 8px; }
table tr:last-child td:first-child  { border-bottom-left-radius: 8px; }
table tr:last-child td:last-child   { border-bottom-right-radius: 8px; }

th {
    background-color: var(--mainColor);
    font-size: var(--mediumFont);
    color: white;
}

.comments {
    width: 300px;
}

th, td{
    width: 120px;
    height: 30px;
}

tr {
    font-size: var(--normalFont);
    border: none;
}

td, th {
    font-size: var(--normalFont);
    border-left: 0.1px solid var(--grayColor);
    border-right: 0.1px solid var(--grayColor);
    border-top: none;
    border-bottom: none;
}

td:first-child,
th:first-child {
    border-left: none;
}

td:last-child,
th:last-child {
    border-right: none;
}

tr:not(.isLate):not(.today):not(.weekDay):nth-child(even) {
  background-color: #f7f7f7;
}

tr:not(.isLate):not(.today):not(.weekDay):nth-child(odd) {
  background-color: #ffffff;
}

.weekDay {
    background-color: var(--grayColor);
}


tr:not(.isLate):not(.today):not(.weekDay):hover, tr:hover {
    background-color: var(--lightColor);
    box-shadow: inset 4px 0 0 var(--mainColor);
}

.today {
    background-color: var(--lightColor);
    box-shadow: inset 4px 0 0 var(--mainColor);
}

.isLate {
    background-color: var(--redColor);
    color: white;
}

.date-holder {
    margin-bottom: 10px;
}

.optionBox {
    text-align: center;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.optionBox-person {
    margin-bottom: 10px;
    text-align: left;
    height: 30px;
    box-sizing: border-box;
    font-size: var(--largeFont);
    color: var(--mainColor);
    font-weight: bold;
    border-style: none;

}

.yearInput {
    height: 30px;
    text-align: center;
    width: 70px;
    box-sizing: border-box;
}

.commentField {
  width: 98.5%;
  height: 2em;
  border: none;
}

.comment-button {
    font-size: 13px;
    border-style: none;
    background-color:rgba(0, 0, 0, 0);
}

.comment-button:hover {
    color: var(--mainColor);
    /* font-weight: bold; */
    cursor: pointer;
}

.commentText {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: center;
}

.commentTextArea:focus {
    border-color: var(--mainColor);
}

.commentLabel:hover {
    color: var(--mainColor);
    cursor: pointer;
}

.popUpForm {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(14, 20, 40, 0.4);
}

.popUpForm-Comment-div {
    margin-top: 30vh;
    background-color: white;
    width: 20vw;
    height: 30vh;
    min-width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    border: solid;
    border-radius: 5px;
    border-color: var(--mainColor);
}

.managementCommentHeading {
    font-size: var(--largeFont);
    color: var(--mainColor);
    font-weight: bold;
}

.commentTextArea {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    min-height: 200px;
    resize: none;
    margin-bottom: 5px;
    border-radius: 3px;
}

.popUp-ButtonHolder {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    min-height: 100vh;
    align-self: stretch;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 12px;
    margin-right: 25px;
    position: fixed;
}

.nav-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-icon-label {
    position: relative;
    align-items: center;
    display: flex;
    /* border-radius: 10px; */
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-icon-label:hover {
    background-color: var(--lightGrayColor);
    cursor: pointer;
}

.nav-icon-svg {
    width: 40px;
}

/* Tool Tip */
.nav-icon-label:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.nav-icon-label::after {
    content: attr(data-tip);
    position: absolute;

    left: calc(100% + 5px);   /* 👉 move to the right of icon */
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--extraDarkColor);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 10px;

    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: opacity 0.1s linear;
}

.form-text-input-email {
    box-sizing: border-box;
    height: 30px;
    width: 295px;
}

.form-text-input-name {
    box-sizing: border-box;
    height: 30px;
    width: 145px;
}

.form-text-input-email, .form-text-input-name {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;

    margin-bottom: 10px;
    /* border-color: var(--darkGrayColor); */
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    
}

.form-text-input-name::placeholder, .form-text-input-email::placeholder {
    color: var(--grayColor);
}

.block-holder {
    margin-top: 20px;
    border: solid;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    border-radius: 5px;
    border-color: var(--mainColor);
    height: 85vh;
}

.block-holder-popup {
    border: solid;
    padding: 20px;
    display: block;
    border-radius: 5px;
    border-color: var(--mainColor);
    background-color: white;
    margin-top: 30vh;
    max-height: 380px;
    width: 80vw;                
    max-width: 650px;
    box-sizing: border-box;
}

.block-header {
    display: block;
    font-size: var(--largeFont);
    color: var(--mainColor);
    margin: 0px;
    margin-bottom: 10px;
}

.form-button {
    border-style: none;
    background-color: var(--mainColor);
    min-width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    border-radius: 2px;
}

.stamp-button {
    border-style: none;
    background-color: var(--mainColor);
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius: 2px;
}

.form-button:hover, .stamp-button:hover {
    background-color: var(--darkColor);
    cursor: pointer;
}

.form-error-message {
    display: block;
    color: var(--redColor);
    font-size: var(--smallFont);
}

  .error {
    display: block;
    color: var(--redColor);
    font-size: 0.9rem;
    margin-top: 6px;
    min-height: 1.2em;
  }

.staff-radio {
    display: none;
}

.staff-radio-block {
    display: block;
    margin-bottom: 5px;
    border-style: none;
    background-color: var(--lightGrayColor);
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 2px;
}

.staff-radio-block:hover {
    background-color: var(--lightColor);
    box-shadow: inset 4px 0 0 var(--mainColor);
    cursor: pointer;
}

.staff-radio:checked + .staff-radio-block {
    background-color: var(--mainColor);
    box-shadow: inset 4px 0 0 var(--mainColor);
    color: white;
}

.button-icon {
    width: 15px;
    height: 15px;
}

.form-button-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: var(--mainColor);
    padding: 8px;
    color: white;
    border-radius: 100%;
}

.form-button-circle:hover, .staff-info-button:hover {
    background-color: var(--darkColor);
    cursor: pointer;
}

.block-header-staff {
    display: inline;
    font-size: var(--largeFont);
    color: var(--mainColor);
    margin: 0px;
    padding: 0px;
}

.staffblock-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.staffblock-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.form-button-circle::after {
    content: attr(data-tip);
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--extraDarkColor);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: opacity 0.1s linear;
}

.form-button-circle:hover::after {
    opacity: 1;
}

.small-gray-text {
    margin-top: 10px;
    color: var(--darkGrayColor);
    font-size: var(--smallFont);
}

.staffmanagment-holder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.block-holder-staff {
    margin-top: 20px;
    margin-left: 10px;
    border: solid;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    border-radius: 5px;
    border-color: var(--grayColor);
    height: 85vh;
    max-width: 480px;
}

.staff-info-name-header {
    display: block;
    font-size: var(--largeFont);
    color: var(--mainColor);
    margin-top: 10px;
    margin-bottom: 0px;
}

.small-gray-role-text {
    color: var(--darkGrayColor);
    font-size: var(--normalFont);
}

.staff-info-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.staff-info-button {
    border-style: none;
    background-color: var(--mainColor);
    min-width: 100px;
    padding: 6px 10px;
    color: white;
    border-radius: 2px;
    margin-right: 4px;
}

.staff-info-button-red {
    border-style: none;
    background-color: var(--redColor);
    min-width: 100px;
    padding: 6px 10px;
    color: white;
    border-radius: 2px;
    margin-right: 4px;
}

.staff-info-button-red:hover {
    background-color: var(--darkRedColor);
    cursor: pointer;
}

.staff-info-contact-div {
    background-color: var(--lightGrayColor);
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 400px;
}

.highlight-span {
    color: var(--mainColor);
    font-weight: bold;
}

.contact-p {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.squares-holder {
    display: flex;
    flex-direction: row;
}

.square-block {
    width: 96px;
    aspect-ratio: 1/1;
    border-color: var(--mainColor);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin-right: 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.small-text-square-block {
    color: var(--mainColor);
    font-weight: bolder;
    font-size: var(--smallFont);
    margin: 0px;
}

.large-text-square-block {
    color: var(--darkColor);
    font-size: var(--extraLargeFont);
    font-weight: bolder;
    margin: 0px;
}

.squares-header {
    display: block;
    font-size: var(--largeFont);
    color: var(--mainColor);
    margin-top: 20px;
    margin-bottom: 5px;
}

.staff-input {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--mainColor);
    margin-bottom: 10px;
    padding: 5px;
    min-width: 250px;
}

.edit-staff-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dark-color {
    color: var(--darkColor);
}

/* Dashboard */
.entire-block-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* was space-between */
}

.dashboard-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 580px;
    /* margin-right: 10px; */
}

.in-out-person {
    display: block;
    margin-bottom: 5px;
    border-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 2px;
}

.in-person {
    background-color: var(--lightColor);
    color: var(--darkColor);
}

.out-person {
    background-color: var(--lightRedColor);
    color: var(--darkRedColor);
}

.timein-dashboard {
    font-size: var(--smallFont);
    color: var(--darkColor);
}


.timeout-dashboard {
    font-size: var(--smallFont);
    color: var(--darkRedColor);
}

.block-holder-dashboard {
    border: solid;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color: var(--mainColor);
    width: 260px;
    margin-right: 10px;
}

.block-holder-today-overview {
    background-color: #fafafa;
    border: solid;
    padding: 20px 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color: var(--grayColor);
    width: 550px;
    height: 150px;
}

.late-pill {
    font-size: var(--smallFont);
    color: var(--redColor);
}

.clock-in-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.clock-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-in-radio-holder {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 250px;

}

.clock-in-radio {
    background-color: var(--mainColor);
    color: white;
    width: 120px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    font-size: var(--largeFont);
    font-weight: 700;
}
.pin-input {
    width: 55px;
    height: 50px;
    box-sizing: border-box;
    border-color: var(--mainColor);

    text-align: center;
    line-height: 50px;
    color: var(--darkColor);
    font-size: 28px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;
}

.clock-in-radio:hover {
    background-color: var(--darkColor);
    color: white;
    cursor: pointer;
}

.clock-radio-input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.clock-in-radio:has(.clock-radio-input:checked) {
    background-color: var(--darkColor);
    color: white;
}

.pin-input {
    text-indent: 0;
}

.clock-in-tool, .clock-in-tool-pin {
    color: var(--mainColor);
}

.clock-in-tool-pin {
    margin-bottom: 10px;
}

.clock-in-button {
    margin-top: 20px;
    font-size: var(--largeFont);
}

.reasonPopup {
    width: 80vw;
}

.textReason {
    width: 100%;
}

.clock-in-late {
    color: var(--darkColor);
}


@media (max-height: 920px) {
  .entire-block-dashboard {
    flex-direction: row;
  }

  .block-holder-today-overview {
    margin-top: 35px;
  }
}
